
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="https://cdn.tailwindcss.com"></script>

  </head>
  <body class="h-full bg-white font-Poppins">

   
    

<nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
  <div class="max-w-screen-8xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <svg width="32" height="32" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" class="h-8">
        <g fill="none" fill-rule="evenodd">
          <circle cx="32" cy="32" r="30" fill="#B4DFFB"/>
          <ellipse cx="32" cy="30" fill="#595959" rx="10" ry="8"/>    
          <path fill="#595959" d="M22.1389646 60.3416736C22.0475744 59.2550172 22 58.1386202 22 57 22 45.954305 26.4771525 37 32 37 37.5228475 37 42 45.954305 42 57 42 58.1386202 41.9524256 59.2550172 41.8610354 60.3416736 38.7725974 61.4161234 35.4544846 62 32 62 28.5455154 62 25.2274026 61.4161234 22.1389646 60.3416736zM28.6125273 23.0478694C28.6125273 23.0478694 26.6572522 18.5507674 24.4705652 17 24.4705652 17 22.1178789 23.1756087 23.3641084 28.2984482"/>
          <path fill="#595959" d="M40.6125273,23.0478694 C40.6125273,23.0478694 38.6572522,18.5507674 36.4705652,17 C36.4705652,17 34.1178789,23.1756087 35.3641084,28.2984482" transform="matrix(-1 0 0 1 75.613 0)"/>
        </g>
      </svg>
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Focus Movies</span>
  </a>
  <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
    <button type="button" class="text-white bg-cyan-500 hover:bg-cyan-600 focus:ring-4 focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-cyan-400 dark:hover:bg-cyan-500 dark:focus:ring-cyan-600">Book Tickets</button>
    <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-cyan-100 focus:outline-none focus:ring-2 focus:ring-cyan-200 dark:text-gray-400 dark:hover:bg-cyan-700 dark:focus:ring-cyan-600" aria-controls="navbar-sticky" aria-expanded="true">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
</div>
<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
  <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li>
        <a href="#" class="block py-2 px-3 text-white bg-cyan-700 rounded md:bg-transparent md:text-cyan-700 md:p-0 md:dark:text-cyan-500" aria-current="page">Home</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-cyan-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-cyan-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-cyan-700">About</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-cyan-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-cyan-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-cyan-700">Screens</a>
      </li>
      <li>
        <a href="#" class="block py-2 px-3 text-gray-900 rounded hover:bg-cyan-100 md:hover:bg-transparent md:hover:text-cyan-700 md:p-0 md:dark:hover:text-cyan-500 dark:text-white dark:hover:bg-cyan-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-cyan-700">Contact</a>
      </li>
    </ul>
</div>

  </div>
</nav>





<div class="relative bg-[url('/static/img/home.png')] bg-cover bg-center bg-no-repeat h-screen w-full">
  <!-- Smaller Image to the left with URL -->
  <div class="absolute left-0 top-1/2 transform -translate-y-1/2 w-[12.5%] h-auto bg-[url('/static/img/bg.png')] bg-contain bg-center"></div>
</div>

    


  
  </body>
</html>

